{
  "$schema": "https://opencode.ai/config.json",
{{- if hasPrefix "Remote-" .chezmoi.hostname }}
  "enabled_providers": ["anthropic"],
  "model": "anthropic/claude-opus-4-7",
  "agent": {
    "build": {
      "model": "anthropic/claude-opus-4-7",
      "variant": "high"
    }
  },
{{- else }}
  "model": "opencode/deepseek-v4-flash-free"
{{- end }}
  "plugin": ["oh-my-openagent@latest"]
}
