{
  "$schema": "https://opencode.ai/config.json",
{{- if hasPrefix "Remote-" .chezmoi.hostname }}
  "enabled_providers": ["anthropic", "openai"],
  "model": "anthropic/claude-opus-4-7",
  "agent": {
    "build": {
      "model": "anthropic/claude-opus-4-7",
      "variant": "high"
    }
  },
{{- else }}
  "model": "opencode/deepseek-v4-flash-free",
{{- end }}
  "instructions": ["{{ .chezmoi.homeDir }}/.brains/RTK.md"],
  "plugin": [
    "oh-my-openagent@latest",
    ".\/plugins\/rtk.ts",
    ".\/plugins\/cmux-session.js",
    ".\/plugins\/cmux-feed.js",
    ".\/plugins\/zed-bell.js"
  ]
}
