{{ if ne .chezmoi.os "linux" }}
.scripts/bin/arch-update
.scripts/startup/linux.sh
{{ end }}

{{ if ne .chezmoi.os "darwin" }}
.scripts/startup/macos.sh
{{ end }}

{{ if not (hasPrefix "Remote-" .chezmoi.hostname) }}
.zsh/remote.sh
{{ else }}
.zsh/personal.sh
{{ end }}

AGENTS.md
README.md
.rubocop.yml
