[user]
{{- if hasPrefix "Remote-" .chezmoi.hostname }}
	email = francisco@remote.com
{{- else }}
	email = francisco.sousa@hey.com
{{- end }}
	name = Francisco Sousa
[core]
  editor = nvim
  excludesfile = ~/.global_gitignore
  pager = less -+S
[credential]
  helper = cache --timeout=3600
[push]
  default = simple
  autoSetupRemote = true
[pull]
	rebase = true
