{{- $provider := "openai" -}}
{{- if not (hasPrefix "Remote-" .chezmoi.hostname) -}}
{{- $provider = "openai-codex" -}}
{{- end -}}
{
  "lastChangelogVersion": "0.81.1",
  "theme": "dark",
  "defaultProvider": "{{ $provider }}",
  "defaultModel": "gpt-5.6-terra",
  "hideThinkingBlock": true,
  "defaultThinkingLevel": "medium",
  "enabledModels": [
    "{{ $provider }}/gpt-5.6-luna",
    "{{ $provider }}/gpt-5.6-sol",
    "{{ $provider }}/gpt-5.6-terra"
  ],
  "shellPath": "/bin/zsh"
}
