{
  "name": "com.jfranciscosousa.open_webapp_link",
  "description": "Open links from Chromium webapps in the system browser",
  "path": "{{ .chezmoi.homeDir }}/.scripts/bin/chromium-open-webapp-link-host",
  "type": "stdio",
  "allowed_origins": [
    "chrome-extension://jkcmdpgamfliioabancnplhjhjmdkged/"
  ]
}
