{
  "$schema": "https://opencode.ai/config.json",
  "model": "openai/gpt-5.5",
  "instructions": ["{{ .chezmoi.homeDir }}/.brains/RTK.md"],
  "plugin": [
    ".\/plugins\/rtk.ts",
    ".\/plugins\/zed-bell.js",
    "opencode-websearch"
  ]
}
